{% extends 'sell/foundation.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row align-items-start">
      <div class="col">

      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
  </div>












 {% if products %}
    {% for product in products %}
    <div>
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <hr>
    </div>
    
    <div> 
        <a href="#"> <!-- Linking to the product detail page -->
            {% if "placeholder" in product.featured_image.url %}
                <img src="{% static 'images/image.jpg' %}" width="40%" alt="{{ product.title }}"> 
            {% else %}
                  <img src="{% static 'images/default.jpg' %}" width="40%" alt=" Default Image"> <!-- Use a default image if none is available -->
            {% endif %}
        </a>
        
        <p>Price: {{ product.price }}</p>
        <hr>
    </div>
    {% endfor %}
 {% else %}
    <p>No products available at the moment.</p>
 {% endif %}

{% endblock %}
