{% extends 'sell/foundation.html' %}
{% load static %}
{% load cloudinary %}


{% block content %}

<div class="container">
    <div class="col align-items-start">
        <div class="col">
            {% if products %}
                {% for product in products %}
                <div class="d-flex align-items-start mb-3">
                     <!-- Linking to the product detail page -->
                        {% if product.featured_image %}
                            <img src="{{ product.featured_image.url }}" width="30%" alt="{{ product.name }}">   
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" width="40%" alt="placeholder image"> 
                        {% endif %}
                    </a>
                    <div class="ms-2"> <!-- Adjusted margin for spacing -->
                        <br>
                        <h3>{{ product.name }}</h3>
                        <br>
                        <p>{{ product.description }}</p>
                        <p class="h5 text-dark border rounded p-2 bg-light">
                            Price: <span class="text-success">${{ product.price }}</span>
                        </p> 
                    </div>    
                </div>
                <div class="ms-6">
                     <!-- Linking to the product detail page -->
                 <a href="{% url 'product:product_information' product.id %}" 
                 style="color: white; background-color: #007bff; padding: 10px 15px; text-decoration: none; border-radius: 5px;">
                 More
                </a>
                </div>
                <hr>
                {% endfor %}
            {% else %}
                <p>No products available at the moment.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-4">
    <h2 class="text-center mb-4">Categories</h2>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4 mb-3"> <!-- Adjusted column size for better layout -->
                <div class="card shadow-sm"> <!-- Card for better visual separation -->
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text text-danger">{{ category.products.count }} products</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
