{% extends 'sell/foundation.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="p-3" style="background-color: #f8d7da; color: grey; max-width: 550px; width: 100%;">
      <h4 class="text-primary my-3">Sign Up</h4>

      <form method="POST" action=".">
          <!-- CSRF token -->
          {% csrf_token %}
          <!-- Display form errors -->
          {{ form.non_fields_errors }}

          {% for field in form %}
              <div class="p-3" style="background-color: #f8d7da; color: grey; margin: auto; max-width: 500px; width: 100%;">
                  <label>{{ field.label }}</label><br>
                  {{ field }}
              </div>
          {% endfor %}

          <!-- Error messages -->
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ error }}
              </div>
          {% endfor %}

          <div class="p-3 shadow-lg" style="background-color: #f8d7da; color: grey; max-width: 500px; width: 100%; margin: auto;">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}







