body {
    background-color: #fde0fa;
}

.list {
    color: #4a4a4a;
    font-size: 24px; 
    text-align: center; 
    padding: 10px; 
    background-color: #e192f5; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
}

.small-img {
    width: 100px;      
    height: auto;      
    margin-bottom: 10px; /* Space below the image */
}

.footer {
   position: relative;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding: 20px; 
}