html, body {
    height: 100%;
    margin: 0;
}


body {
    background-color: #fde0fa;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}
.content {
    flex: 1; /* Takes up remaining space */
}

.footer {
    background: #bae1fa; /* Light blue background */
    padding: 20px; /* Padding for the footer */
    text-align: center; /* Center text */
}

.list {
    color: #4a4a4a;
    font-size: 24px; 
    text-align: center; 
    padding: 10px; 
    background-color: #e192f5; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
}

.small-img {
    width: 100px;      
    height: auto;      
    margin-bottom: 10px; /* Space below the image */
}


 .content {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-title {
    font-size: 2.5rem; 
    color: #0a315a;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-bottom: 20px; 
}
.lead {
    font-weight: bold;
}