{% extends 'sell/foundation.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
    {% if product.featured_image %}
    <img src="{{ product.featured_image.url }}" alt="{{ product.name }}" class="img-fluid">
    {% else %}
        <p>No image available.</p>
    {% endif %}
    
    <p class="text-success">Price: {{ product.price }}</p>
{% endblock %}
