{% extends 'sell/foundation.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container my-2">
    <div class="row">
        <!-- Left Column for Images -->
        <div class="col-md-5 mb-3 pr-md-5">
            <!-- Main Product Image -->
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded mb-3 shadow">

            <!-- Featured Image if available -->
            <div class="col-md-5 mb-3">
            {% if product.featured_image %}
                <img src="{{ product.featured_image.url }}" alt="{{ product.name }}" class="img-fluid rounded mb-3 shadow">
            {% else %}
                <p class="text-danger">No image available.</p>
            {% endif %}
        </div>
        </div>

        <!-- Right Column for Title and Description -->
        <div class="col-md-4 d-flex flex-column justify-content-center">
            <!-- Product Title -->
            <h3 class="text-primary font-weight-bold mb-4">{{ product.name }}</h3>

            <!-- Product Description -->
            <p class="text-muted">{{ product.description }}</p>
            <!-- Product Seller Information -->
            <p class="text-muted" style="font-style: italic; color: #6c757d;">
                Sold by: {{ product.created_at }}
             </p>
            <!-- Product Price Section -->
            <p class="h5 text-dark border rounded p-3 bg-light">
                Price: <span class="text-success">${{ product.price }}</span>
            </p>
             <!-- Product Action Buttons -->
             <a href="#" class="btn btn-primary stretched-link">Contact</a>
        </div>
    </div>
</div>


{% endblock %}
