{% extends 'sell/foundation.html' %}
{% load static %}
{% load cloudinary %}

{% block title %} Catalogue {% endblock %}

{% block content %}
<div>
    <h3 class="list">My Products</h3>

    <div class="container">
        <div class="row"> <!-- Adjusted row for grid layout -->
            {% if products %}
                {% for product in products %}
                    <div class="col-md-4 d-flex align-items-start mb-3"> <!-- Grid column for products -->
                        <!-- Linking to the product detail page -->
                        <a href="{% url 'product:detail' product.id %}">
                            {% if product.featured_image %}
                                <img src="{{ product.featured_image.url }}" class="img-fluid" alt="{{ product.name }}">   
                            {% else %}
                                <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="placeholder image"> 
                            {% endif %}
                        </a>
                        <div class="ms-2"> <!-- Adjusted margin for spacing -->
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                            <p class="h5 text-dark border rounded p-2 bg-light">
                                Price: <span class="text-success">${{ product.price }}</span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}

{% endblock footer %}
